body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.stats h3 {
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
}

.mainblock {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mainblock p {
  font-size: 28px;
  margin-bottom: 15px;
}

.mainblock input{
  width: 80%;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
}

.mainblock button {
  padding: 10px 25px;
  font-size: 20px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.mainblock button:hover {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

#close-modal {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.levels
{
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
}

